body {
    display: flex;
    background-color: cadetblue;
}

/* #nav {
    width: 11.5vw;
} */
li:hover {
    color: yellow;
}

li, #search, button {
    cursor: pointer;
}

#search-box {
    width: 250px;
}
     
#char-list {
    list-style-type: none;
}

img {
    border-radius: 8px;
}