body {
    display: flex;
    background-color: cadetblue;
    height: 95vh;
}

#char-list{
    height: 90vh;
    overflow-y: scroll; 
}
span:hover {
    color: yellow;
}

span, #search, button {
    cursor: pointer;
}

#search-box {
    width: 250px;
}
     
#char-list {
    list-style-type: none;
}

img {
    border-radius: 8px;
}

#main {
    margin-left: 5vw;
}

::-webkit-scrollbar {
    width: 6px;
    }

    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:black; 
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    display: default;
    background:rgb(54, 56, 58); 
    }
    