body {
    display: flex;
    background-color: cadetblue;
}

#nav {
    width: 25vw;
}
li:hover {
    color: yellow;
}

li.pointer {
    cursor: pointer;
}

#search-box {
    width: 250px;
}
     
#char-list {
    list-style-type: none;
}